@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Master Login", "LoginMaster", "MasterUser")</li>
    <li>@Html.ActionLink("Teacher Login", "LoginTeacher", "Teachers")</li>
    <li>@Html.ActionLink("Student Login", "LoginStudent", "Students")</li>
</ul>*@

<img src="../../Images/bg1.jpg" width="100%" />